<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding: 0px; " xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta content="width=device-width" name="viewport" />
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<style type="text/css">
			img {
				outline:none;
				-ms-interpolation-mode: bicubic;
				display: block;
				max-width: 100%;
			}
			table {
				border-spacing: 0;
			}
			a {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
				text-decoration: underline;
				color: #337ab7;
			}
			p {
				color:#2B2B2B;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
				line-height: 1.5;
			}
			td {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
			}
			li {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
			}
			h1 {
				color:#2B2B2B;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
			}
			h2 {
				color:#2B2B2B;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
			}
			h3 {
				color:#2B2B2B;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
			}
			h4 {
				color:#2B2B2B;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
			}

			/* Category colors */
			.tech {
				background: #deaf2f;
			}
			.health {
				background: #cc533b;
			}
			.energy {
				background: #328bb8;
			}
			.finance {
				background: #70a555;
			}
			.congress {
				background: #6e5880;
			}
			.campaigns {
				background: #6e5880;
			}
			.general {
				background: #222222;
			}
			.conventions {
				background: #6e5880;
			}
			.washington {
				background: #6e5880;
			}
			.brands {
				background: #8cc6c2;
			}
			#body-container{
				margin-left: auto;
				margin-right: auto;
				background: #f7f5f5;
				width: 100%;
				min-width: 100%;
			}
			#header-container {
				width: 100%;
				min-width: 100%;
			}
			#main-container {
				width: 600px;
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
			}
			.header-color {
				width: 100%;
				min-width: 100%;
				height: 5px;
			}
			.header {
				background: #2b2b2b;
				min-width: 100% !important;
				width: 100% !important;
				padding-top: 25px;
				padding-bottom: 25px;
			}
			#header-logo {
				outline: none;
				max-height: 48px;
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
			}

			.mc-rankings-table {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
			.mc-rankings-table > thead > tr > th,
			.mc-rankings-table > thead > tr > td,
			.mc-rankings-table > tbody > tr > th,
			.mc-rankings-table > tbody > tr > td,
			.mc-rankings-table > tfoot > tr > th,
			.mc-rankings-table > tfoot > tr > td {
				padding: 8px;
				line-height: 1.42857143;
				border-top: 1px solid #ddd;
			}
			.mc-rankings-table > thead > tr > th {
				vertical-align: bottom;
				border-bottom: 2px solid #ddd;
			}
			.mc-rankings-table > caption + thead > tr:first-child > th,
			.mc-rankings-table > caption + thead > tr:first-child > td,
			.mc-rankings-table > colgroup + thead > tr:first-child > th,
			.mc-rankings-table > colgroup + thead > tr:first-child > td,
			.mc-rankings-table > thead:first-child > tr:first-child > th,
			.mc-rankings-table > thead:first-child > tr:first-child > td {
				border-top: 0;
			}
			.mc-rankings-table > tbody + tbody {
				border-top: 2px solid #ddd;
			}
			.mc-rankings-table .table {
				background-color: #fff;
			}

			.table-striped > tbody > tr:nth-of-type(odd) {
				background-color: #f9f9f9;
			}
			.mc-rankings-table {
				text-align: left;
			}
			.mc-rankings-table thead {
				background-color: #222222;
			}
			.mc-rankings-table thead th {
				color: #FFFFFF;
				text-transform: uppercase;
				border: none;
			}
			.mc-rankings-table td.rank {
				font-size: 22px;
				font-weight: bold;
				text-align: center;
				vertical-align: middle;
			}
			.mc-rankings-table td.trending {
				min-width: 120px;
				vertical-align: middle;
				text-align: center;
			}
			.mc-rankings-table td.trending .movement {
				font-size: 24px;
				font-weight: bold;
			}
			.mc-rankings-table td.trending .movement.up {
				color: #2d8c53;
			}
			.mc-rankings-table td.trending .movement.down {
				color: #b40000;
			}
			.mc-rankings-table td.trending .movement.none {
				color: #969696;
			}
			.mc-rankings-table td.trending .previous {
				color: #969696;
				font-size: 14px;
			}
			.mc-rankings-table td.race {
				vertical-align: middle;
				text-align: center;
				width: 100px;
			}
			.mc-rankings-table td.race img {
				width: 80px;
				margin-bottom: 15px;
				float: none;
				margin-left: auto;
				margin-right: auto;
			}
			.mc-rankings-table td.comments {
				min-width: 300px;
				vertical-align: top;
			}
			.mc-rankings-table td.comments > div {
				white-space: normal;
			}
			.mc-dual-image-ad td {
				max-width: 300px;
				max-height: auto;
			}

			.header-site-title {
				text-transform: uppercase;
			}

			.open-section {
				width: 100%;
				min-width: 100%;
			}
			.chart-review-wrapper {
				width: 100%;
				min-width: 100%;
			}
			.chart-review-img {
				margin-left: auto;
				margin-right: auto;
			}

			.article {
				border-top: 1px solid #e9e9e9;
				border-bottom: 1px solid #e9e9e9;
				border-left: 1px solid #e9e9e9;
				border-right: 1px solid #e9e9e9;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 20px;
				padding-bottom: 20px;
				width: 100%;
				min-width: 100%;
				background-color: #FFFFFF;
			}

			/*
			.article a {
				text-decoration: none;
			}
			*/
			.article ul {
				padding-left: inherit;
			}

			.article-spacer {
				padding-bottom: 20px;
			}

			.general-section-spacer {
				width: 100%;
			}

			.general-section-spacer td.top, .general-section-spacer td.bottom {
				height: 10px;
				padding: 0;
			}

			.general-section-spacer td.middle {
				height: 1px;
				background-color: #E1DCD7;
				padding: 0;
			}

			.footer-container {
				min-width: 100% !important;
				width:100% !important;
				padding-top:20px;
				padding-bottom:50px;
			}
			.footer-main {
				margin-left: auto;
				margin-right: auto;
				
			}

			.footer-logo {
				text-align: center;
				padding-top: 20px;
				padding-bottom: 20px;
				margin-left: auto;
				margin-right: auto;
			}

			.footer-logo img {
				margin-left: auto;
				margin-right: auto;
			}

			.footer-subscribe-button {
				background: #787878;
				border-radius: 10px;
				margin-left: auto;
				margin-right: auto;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 10px;
				padding-right: 10px;
				text-align: center;
				font-size: 13px;
			}

			.footer-subscribe-button a {
				color: #FFFFFF;
				text-decoration: none;
			}

			.footer-social {
				padding-left: 20px;
				padding-right: 20px;
				margin-left: auto;
				margin-right: auto;
				border-bottom: 1px solid #787878;
			}

			.footer-social td {
				padding-left: 10px;
				padding-right: 10px;
			}

			.footer-social a {
				padding-left: 5px;
				padding-right: 5px;
			}
			.footer-sfmc {
				text-align: center;
			}
			.footer-sfmc p {
				color: #787878;
				font-size: 10px;
				margin-bottom: 5px;
				margin-top: 0;
			}
			.footer-sfmc-preferences {
				padding-bottom: 20px;
				padding-top: 0;
			}
			.footer-sfmc-preferences a {
				color: #787878;
				font-size: 10px;
			}

			table.events, table.event-date {
				width: 100%;
			}

			.event-date {
				border-collapse: collapse;
			}

			.event-day {
				padding-top: 20px;
			}

			.event td {
				vertical-align: top;
				border-bottom: 1px solid #E1DCD7;
				padding-bottom: 10px;
				padding-top: 10px;
				padding-left: 0;
				padding-right: 0;
			}

			.event .event-time {
				text-align: right;
				width: 100px;
				color: #868686;
			}
		</style>
	</head>
<body style="margin:0px; padding: 0;" class="body-{{mc_category_slug}}">
	
	<table id="body-container" align="center">
	<tr>
		<td>
			<table id="header-container" align="center" width="100%">
				<tr>
					<td>
						<table class="header-color {{mc_category_slug}}" width="100%">
						<tr>
							<td></td>
						</tr>
					</table>
					<table class="header" width="100%" style="width:100% !important;">
						<tr>
							<td>
								<table width="580" align="center" style="padding-left:10px; padding-right:10px;margin-left:auto; margin-right:auto;" >
									<tr>
										<td align="center">
											<img id="header-logo" src="{{mc_theme_url}}/img/email/brief/header_logo_{{mc_category_slug}}_v2.png">
										</td>
									</tr>
							</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table id="main-container" align="center">
				<tr>
					<td>
					<table class="body" align="center">
						<tr>
							<td>
								<table class="content" align="center" width="580" style="margin-left:auto; margin-right:auto;">
									<tr><td class="article-spacer"></td></tr>
									<tr>
										<td>
											{{title}}
											{{byline}}
											{{content}}
										</td>
									</tr>
							</table>
							</td>
						</tr>
					</table>
					<table align="center" width="100%" class="footer-container">
						<tr>
							<td>
								<table class="footer-main" align="center">
									<tr>
										<td>
											<table class="footer-social" align="center">
												<tr>
													<td><a class="facebook" href="https://www.facebook.com/pages/The-Morning-Consult/183517831660100"><img src="{{mc_theme_url}}/img/email/facebook_v3.png" height="20px" width="auto"></a></td>
													<td><a class="twitter" href="https://twitter.com/MorningConsult"><img src="{{mc_theme_url}}/img/email/twitter_v3.png" height="20px" width="auto"></a></td>
													<td><a class="linkedin" href="https://www.linkedin.com/company/the-morning-consult"><img src="{{mc_theme_url}}/img/email/linkedin_v3.png" height="20px" width="auto"></a></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="footer-logo">
											<img src="{{mc_theme_url}}/img/email/mclogo_v2.png">
										</td>
									</tr>
									<tr>
										<td>
										<!-- sfmc -->
										<table class="footer-sfmc" cellpadding="2" cellspacing="0" width="600" ID="Table5" Border=0>
											<tr><td>
												<p>
													This email was sent by: %%Member_Busname%% 
												</p>
												<p>
													%%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%
												</p>
											</td></tr>
											<tr>
												<td class="footer-sfmc-preferences"><a href="%%profile_center_url%%" alias="Manage your email preferences">Manage your email preferences</a></td>
											</tr>
											<custom name="opencounter" type="tracking">
											</table>
										<!-- //sfmc -->
										</td>
									</tr>
									<tr>
										<td>
											<table class="footer-subscribe-button" align="center">
												<tr>
													<td><a href="{{site_url}}/subscribe/">SUBSCRIBE</a></td>
												</tr>
											</table>
										</td>
									</tr>
							</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
</body>
</html>
